{% extends "main.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <header>
        <div class="carousel" data-count="3" data-current="1">
            <div class="items">
                <button class="btn btn-control" data-direction="right">
                    <i class="ion-ios-arrow-right"></i>
                </button>
                <button class="btn btn-control" data-direction="left">
                    <i class="ion-ios-arrow-left"></i>
                </button>

                <div class="item center" data-marker="1">
                    <img
                            src="{% static 'assets/img/carousel/bckg-2.jpg' %}"
                            alt="Background"
                            class="background hidden-xs hidden-sm"
                    />
                    <img
                            src="{% static 'assets/img/carousel/bckg-2-sm.jpg' %}"
                            alt="Background"
                            class="background visible-sm"
                    />
                    <img
                            src="{% static 'assets/img/carousel/bckg-2-xs.jpg' %}"
                            alt="Background"
                            class="background visible-xs"
                    />

                    <div class="content">
                        <div class="outside-content">
                            <div class="inside-content">
                                <div class="container align-right">
                                    <h1 class="h3 colorful blue hidden-xs text-dark">
                                        The best retailer in K-Town
                                    </h1>

                                    <hr class="offset-sm"/>
                                    <h2 class="h1 lg upp colorful blue">
                                        New amazing <br/>
                                        laptops
                                    </h2>
                                    <hr class="offset-md"/>
                                    <hr class="offset-md"/>
                                    <a
                                            href="{% url 'store:index' %}"
                                            rel="nofollow"
                                            class="btn btn-primary btn-lg black"
                                    >
                                        Check Store
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item" data-marker="2">
                    <img
                            src="{% static 'assets/img/carousel/bckg-1.jpg' %}"
                            alt="Background"
                            class="background hidden-xs hidden-sm"
                    />
                    <img
                            src="{% static 'assets/img/carousel/bckg-1-sm.jpg' %}"
                            alt="Background"
                            class="background visible-sm"
                    />
                    <img
                            src="{% static 'assets/img/carousel/bckg-1-xs.jpg' %}"
                            alt="Background"
                            class="background visible-xs"
                    />

                    <!-- <img src="assets/img/carousel/newlaptops.jpg" alt="New laptops" title="New laptops" class="item-left hidden-xs"/> -->

                    <div class="content">
                        <div class="outside-content">
                            <div class="inside-content">
                                <div class="container">
                                    <h1 class="h3 colorful blue hidden-xs">
                                        Device is designed for the creative people
                                    </h1>
                                    <hr class="offset-sm"/>

                                    <h2 class="h1 lg upp colorful blue">
                                        Apple <br/>
                                        iMac 27 Retina
                                    </h2>
                                    <hr class="offset-md"/>
                                    <hr class="offset-md"/>
                                    <a
                                            href="{% url 'store:index' %}"
                                            rel="nofollow"
                                            class="btn btn-primary btn-lg black"
                                    >
                                        View products
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item" data-marker="3">
                    <img
                            src="{% static 'assets/img/carousel/bckg-3.jpg' %}"
                            alt="Background"
                            class="background hidden-xs hidden-sm"
                    />
                    <img
                            src="{% static 'assets/img/carousel/bckg-3-sm.jpg' %}"
                            alt="Background"
                            class="background visible-sm"
                    />
                    <img
                            src="{% static 'assets/img/carousel/bckg-3-xs.jpg' %}"
                            alt="Background"
                            class="background visible-xs"
                    />

                    <!-- <img src="assets/img/carousel/ipadair2.jpg" alt="Apple Devices" title="Apple Devices" class="item-right hidden-xs"/> -->

                    div class="content">
                    <div class="outside-content">
                        <div class="inside-content">
                            <div class="container align-right">
                                <h1 class="h3 colorful blue hidden-xs">
                                    Luxury watches, business tablets and 3D touch: <br/>
                                    How Apple plans to stay ahead in mobile.
                                </h1>

                                <hr class="offset-sm"/>
                                <h2 class="h1 lg upp colorful blue">
                                    Brand new day <br class="hidden-xs"/>
                                    for business
                                </h2>
                                <hr class="offset-md"/>
                                <hr class="offset-md"/>
                                <a
                                        href="{% url 'blog:index' %}"
                                        rel="nofollow"
                                        class="btn btn-primary btn-lg black"
                                >
                                    View article
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr class="offset-lg"/>
    <hr class="offset-lg"/>

    <section class="products">
        <div class="container">
            <h2 class="h2 upp align-center">Latest Laptops</h2>
            <hr class="offset-lg"/>
            <div class="row">
                {% for laptop in laptops %}
                    <div class="col-sm-6 col-md-3 product">
                        <div class="body">
                            <a href="#favorites" class="favorites" data-favorite="inactive"
                            ><i class="ion-ios-heart-outline"></i
                            ></a>
                            <a href="./"
                            ><img
                                    src="{{ laptop.image.url }}"
                                    alt="{{ laptop.name }}"
                            /></a>

                            <div class="content align-center">
                                <p class="price"> ${{ laptop.price }}</p>
                                <h2 class="h3">{{ laptop.name }}</h2>
                                <hr class="offset-sm"/>

                                <button class="btn btn-link">
                                    <i class="ion-android-open"></i> Details
                                </button>
                                <button class="btn btn-primary btn-sm rounded">
                                    <i class="ion-bag"></i> Add to cart
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="align-right align-center-xs">
                <hr class="offset-sm"/>
                <a href="/store?category=2"><h5 class="upp">View all laptops</h5></a>
            </div>
        </div>
    </section>


    <section class="products">
        <div class="container">
            <h2 class="h2 upp align-center">Newest Desktops</h2>
            <hr class="offset-lg"/>
            <div class="row">
                {% for desktop in desktops %}
                    <div class="col-sm-6 col-md-3 product">
                        <div class="body">
                            <a href="#favorites" class="favorites" data-favorite="inactive"
                            ><i class="ion-ios-heart-outline"></i
                            ></a>
                            <a href="./"
                            ><img
                                    src="{{ desktop.image.url }}"
                                    alt="{{ desktop.name }}"
                            /></a>

                            <div class="content align-center">
                                <p class="price"> ${{ desktop.price }}</p>
                                <h2 class="h3">{{ desktop.name }}</h2>
                                <hr class="offset-sm"/>

                                <button class="btn btn-link">
                                    <i class="ion-android-open"></i> Details
                                </button>
                                <button class="btn btn-primary btn-sm rounded">
                                    <i class="ion-bag"></i> Add to cart
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="align-right align-center-xs">
                <hr class="offset-sm"/>
                <a href="/store?category=1"><h5 class="upp">View all desktops</h5></a>
            </div>
        </div>
    </section>

    <section class="products">
        <div class="container">
            <h2 class="h2 upp align-center">Featured Hybrid devices</h2>
            <hr class="offset-lg"/>

            <div class="row">
                {% for hybrid in hybrids %}
                    <div class="col-sm-6 col-md-4 product">
                        <div class="body">
                            <a href="#favorites" class="favorites" data-favorite="inactive"
                            ><i class="ion-ios-heart-outline"></i
                            ></a>
                            <a href="./"
                            ><img
                                    src="{{ hybrid.image.url }}"
                                    alt="{{ hybrid.name }}"
                            /></a>

                            <div class="content align-center">
                                <p class="price">${{ hybrid.price }}</p>
                                <h2 class="h3">{{ hybrid.name }}</h2>
                                <hr class="offset-sm"/>

                                <button class="btn btn-link">
                                    <i class="ion-android-open"></i> Details
                                </button>
                                <button class="btn btn-primary btn-sm rounded">
                                    <i class="ion-bag"></i> Add to cart
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="align-right align-center-xs">
                <hr class="offset-sm"/>
                <a href="/store?category=3"><h5 class="upp">View all hybrid devices</h5></a>
            </div>
        </div>
    </section>

    <section class="products">
        <div class="container">
            <h2 class="h2 upp align-center">New Tablets</h2>
            <hr class="offset-lg"/>

            <div class="row">
                {% for tablet in tablets %}
                    <div class="col-sm-6 col-md-4 product">
                        <div class="body">
                            <a href="#favorites" class="favorites" data-favorite="inactive"
                            ><i class="ion-ios-heart-outline"></i
                            ></a>
                            <a href="./"
                            ><img
                                    src="{{ tablet.image.url }}"
                                    alt="{{ tablet.name }}"
                            /></a>

                            <div class="content align-center">
                                <p class="price">${{ tablet.price }}</p>
                                <h2 class="h3">{{ tablet.name }}</h2>
                                <hr class="offset-sm"/>

                                <button class="btn btn-link">
                                    <i class="ion-android-open"></i> Details
                                </button>
                                <button class="btn btn-primary btn-sm rounded">
                                    <i class="ion-bag"></i> Add to cart
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="align-right align-center-xs">
                <hr class="offset-sm"/>
                <a href="/store?category=4"><h5 class="upp">View all tablets</h5></a>
            </div>
        </div>
    </section>


    <section class="blog">
        <div class="container">
            <h2 class="h2 upp align-center">Blog Headlines</h2>
            <hr class="offset-lg"/>
            {% for blog in blogs %}
                <div class="row">
                <div class="col-sm-6 col-md-6 item">
                    <div class="body">
                        <a href="#" class="view"><i class="ion-ios-book-outline"></i></a>
                        <a href="#">
                            <img
                                    src="{{ blog.image.url }}"
                                    title="{{ blog.name }}"
                                    alt="{{ blog.name }}"
                            />
                        </a>

                        <div class="caption">
                            <h2 class="h3">{{ blog.title }}</h2>
                            <label> {{ blog.date }}</label>
                            <hr class="offset-sm"/>

                            <p>{{ blog.description|safe }}</p>
                            <hr class="offset-sm"/>

                            <a href="{{ blog.url }}"> View article </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

            <div class="align-right align-center-xs">
                <hr class="offset-sm"/>
                <a href="{% url 'blog:index' %}"><h5 class="upp">View all articles</h5></a>
            </div>
        </div>
    </section>
    <hr class="offset-lg"/>
    <hr class="offset-sm"/>
{% endblock %}
